# Файлы и папки основного каталога
.vs
AaDS/bin
AaDS/obj

# Файлы и каталоги по курсу ИТМО
ITMO/obj

# Файлы и папки первой лабораторной работы
FirstLab/bin
FirstLab/obj

# Файлы и папки второй лабораторной работы
SecondLab/SecondLab.xcodeproj/xcuserdata/arsanukaev.xcuserdatad/xcdebugger/